{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

    <!--Put the streaming in the page*/-->
    <div>
        <div>
            <div class="window_capture">
                <img id="b" src="{{ url_for('execucao_gerador_processar_execucao') }}">
            </div>
            <a href="/execucao-relatorio">
                <button class="btn btn-success">
                    Clique aqui ao fim da execução
                </button>
            </a>

        </div>
    </div>


{% include 'base/footer.html' %}