{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}


<div>
      <br><br><br>
      <form action="/atualizar-algoritmos/{{ current_user.nome }}" method="POST">
          <label>Nome</label>
              {{ form.nome(class="form-control", value=algoritmo.nome) }}
          <label>Algoritmo</label>
              <!--Descobrir como se faz isso aqui - value não funciona
              {{ form.algoritmo(class="form-control", value=algoritmo.algoritmo) }}-->
              <textarea class="form-control" name="algoritmo" rows="10">{{ algoritmo.algoritmo }}</textarea>

          <label>Senha</label>
              {{ form.nome(class="form-control", value=algoritmo.usuario) }}
          <input type="submit" value="Enviar">
      </form>
</div>


{% include 'base/footer.html' %}