{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

<a href="/listar-algoritmos">
        <button class="btn btn-lg btn-warning">
            Voltar
        </button>
    </a>
    <hr>

<div>
      <form action="/atualizar-algoritmo/{{ algoritmo.id }}" method="POST">
          <label>Nome</label>
              {{ form.nome(class="form-control", value=algoritmo.nome) }}
          <label>AlgoritmoCerto</label>
              <textarea class="form-control" rows="5" name="algoritmo">{{ algoritmo.algoritmo }}</textarea>
          <!--Verificar como definir o valor do form  textarea-->
          <label>Senha</label>
              {{ form.usuario(class="form-control", value=algoritmo.usuario) }}
          <input class="btn btn-success" type="submit" value="Enviar">
      </form>
</div>


{% include 'base/footer.html' %}