{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

<a href="/listar-algoritmos">
        <button class="btn btn-lg btn-success">
            Voltar
        </button>
    </a>
    <hr>

<div>
      <form action="/cadastrar-algoritmos" method="POST">
          <label>Nome</label>
              {{ form.nome(class="form-control") }}
          <br><br>
          <label>Algoritmo</label>
              {{ form.algoritmo(class="form-control") }}
          <label>Usuário</label>
              {{ form.usuario(class="form-control") }}
          <input type="submit" value="Enviar">
      </form>
</div>


{% include 'base/footer.html' %}