{% include 'base/head.html' %}



<div>
      <br><br><br>
      <form action="/cadastrar-algoritmo" method="POST">
          <label>Nome</label>
              {{ form.nome(class="form-control") }}
          <br><br>
          <label>Algoritmo</label>
              {{ form.algoritmo(class="form-control") }}
          <label>Usuário</label>
              {{ form.usuario(class="form-control") }}
          <input type="submit" value="Verificar">
      </form>
</div>


{% include 'base/footer.html' %}