{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}


<a href="/cadastrar-algoritmos">
    <button class="btn btn-lg btn-success">
        Cadastrar
    </button>
</a>
<hr>

<div class="table-responsive">
    <form action="#">

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Algoritmo</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
            {% for a in algoritmos %}
            <tr>
                <td>
                    {{ a.id }}
                </td>
                <td>
                    {{ a.nome }}
                </td>
                <td>
                    {{ current_user.nome }}
                </td>
                <td>
                    Criar atributo descrição
                </td>
                <td>
                    <pre>{{ a.algoritmo }}</pre>
                </td>
                <td>
                    <!--<a href="<?= base_url('index.php/User/update/' . $u->id) ?>" class="btn btn-primary btn-group">Atualizar</a>-->
                    <a href="{{ url_for('atualizar_algoritmo', id=a.id)}}">Atualizar?</a>
                </td>
                <td>
                    <a href="{{ url_for('excluir_algoritmo', id=a.id)}}">Excluir?</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

<div class="table-responsive">
    <form action="#">

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Usuário</th>
            </tr>
        </table>
    </form>
</div>
{% include 'base/footer.html' %}