{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}


<a href="/cadastrar-algoritmos">
    <button class="btn btn-lg btn-success">
        Cadastrar
    </button>
</a>

<hr>

<div>
      <form action="/mapeado-algoritmo/{{ id_algoritmo }}" method="POST">
          {% for p_nome in parametros: %}
              <label>{{ p_nome }}</label>
                <input class="form-control" name="lista_nome[]"  value="{{ p_nome }}" type="hidden">
                <input class="form-control" name="lista_valor[]" type="text">
          {% endfor%}
          <input class="btn btn-success" type="submit" value="Enviar">
      </form>
</div>





{% include 'base/footer.html' %}