body{
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
}

/*
    Login
*/

.login{
    background-color: #000000;
}


alert alert-warning{
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 0px;
}


.capa{
    background-image: url(../images/capa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 670px;
}


/*
Index
*/

/*
    Nav
*/

.container-fluid > .navbar-header > a {
    color: #FFFFFF;
}

.container-fluid > .navbar-header > a:hover{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #101010;
}

.navbar-default .navbar-nav > li > a:before{
    color: #FF0000;
}

.container-nav{

}

.navbar{
    background: rgba(1,1,50,.8);
    width: 100%;
}

.navbar-default{
    float: left;
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: inset 3px rgba(100,100,200,.7);
    border-top: inset 3px rgba(100,100,200,.7);

}

/* Nav Título*/
.navbar-brand {
    font-size: 35px;
    color: #FF0000;
    text-color: #FF0000;
}



.nav-principal ul li a{
  color: #FF0000;
  text-color: #FF0000;
}




.nav_nome_perfil{
    font-size: 18px;
}

.nav_icone-perfil{
    color: #FFFFFF;
    font-size: 16px;
}

.dropdown{
   color: #00FF00;
}


/*
    Capturar
*/

.janela_capturar {
    height: 100px;
    background-color: #000000;
    display: table;
    padding: 10px;
    border-radius: 10px ;
    float: left;
}

.imagem_capturada{
    height: 325px;
}



/*
    Footer
*/
footer{
    margin-top-min: 800px;
    background-color: #000000;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.imagem-perfil {
    background-color: #FF0000;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 5px;
    margin-right: 15px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


/* Listagens */


.container-principal{
   clear: left;
   margin-left: 10px;
   margin-right: 10px;
   box-shadow: 0px 0px 1em #666;
   min-height: 560px;
}

.cabecalho-listagem{
    padding: 10px;
    display: flex;
    align-items: center; //centraliza horizontalmente
    justify-content: center;
}

.cabecalho-titulo{
    float: left;
    font-size: 32px;
}

.cabecalho-entrada{

}

.cabecalho-botao-pesquisar{


}

.cabecalho-botao-cadastrar{
    align: right;
}

.entrada-listagem{
    width: 600px;
}

.entypo-search{
    width: 50px;
    color: #000000;
}

