body{



}

.header{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    float: left;
    z-index: 0;
}


/*
    Login
*/

.login{
    background-color: #000000;
}


alert alert-warning{
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 0px;
}


.capa{
    background-image: url(../images/capa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 670px;

}


/*
Index
*/

/*
    Nav
*/

.nav-auxiliar{
    background-color: rgba(30,39,41,.9);
    height: 30px;
    color: #FFFFFF;
    text-align: right;

}

.nav-auxiliar{

}

.nav-pesquisar{
    height: 26px;
    margin-top: 2px;
}

.nav-pesquisar-icone{
    height: 26px;
    margin-top: 2px;
    border-radius: 0px;
    margin-right: 120px;
    margin-right: 32px;
}

.container-fluid > .navbar-header > a {
    color: #FFFFFF;
}
.container-fluid > .navbar-header > a:hover{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #101010;
}

.navbar-default .navbar-nav > li > a:before{
    color: #FF0000;
}

.nav-geral{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 0px;
    margin-bottom: 1px;

}

.navbar-default{
    font-size: 18px;
    text-color: #FFFFFF;
    border-color: #000000;
    background-color: rgba(1,1,50,.8);

}

/* Nav Título*/
.navbar-brand {
    font-size: 35px;
    color: #FF0000;
    text-color: #FF0000;
}



.nav-principal ul li a{
  color: #FF0000;
  text-color: #FF0000;
}





.nav_nome_perfil{
    font-size: 18px;
}

.nav_icone-perfil{
    color: #FFFFFF;
    font-size: 16px;
}

.dropdown{
   color: #00FF00;
}


/*
    Capturar
*/

.janela_capturar {
    height: 100px;
    background-color: #000000;
    display: table;
    padding: 10px;
    border-radius: 10px ;
    float: left;
}

.imagem_capturada{
    height: 325px;
}



/*
    Footer
*/
footer{
    margin-top-min: 800px;
    background-color: #000000;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.imagem-perfil {
    background-color: #FF0000;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 5px;
    margin-right: 15px;
}
s