<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
-->
<script>
       $(document).on('scroll', function() {
              let atual = $(document).scrollTop();
              let minimo = 30

              console.log('atual: '+ atual);

              if (typeof aux === "undefined") {
                  let aux = atual;
                  console.log("Entrou")
              } else {
                  if (atual < aux){
                      console.log("Entrou2")
                      $('.nav-auxiliar').hide();
                  }else{
                       console.log("Entrou3")
                      $('.nav-auxiliar').show();
                  }

              }
            });
</script>
</body>
</html>