    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navPrincipal" aria-expanded="false">
                    <span class="sr-only">Alternar Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">- LabVision -</a>
            </div>
            <div class="collapse navbar-collapse" id="navPrincipal">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/index">Início</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Funcionalidades
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/face_recognition">Reconhecer</a></li>
                            <li><a href="/face_capture">Detectar</a></li>
                            <li><a href="/face_trainner">Treinar</a></li>
                            <li><a href="/show_capture">Capturar</a></li>
                            <li><a href="/listar-usuarios">Usuários</a></li>
                            <li><a href="/listar-algoritmos">Algoritmos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Quem Somos</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="/ajuda">Ajuda</a></li>
                    {% if current_user.nome %}
                        <li>
                            <img src="" class="imagem-perfil">
                        </li>
                    {% else %}
                    <button class="btn btn-lg btn-success botao-cadastrar-se">
                        Cadastrar-se
                    </button>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

