    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navPrincipal" aria-expanded="false">
                    <span class="sr-only">Alternar Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">- LabVision -</a>
            </div>
            <div class="collapse navbar-collapse" id="navPrincipal">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Início</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Projeto</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Quem Somos</a></li>
                    <li><a href="#">Contato</a></li>
                    <button class="btn btn-lg btn-success">
                        Cadastrar-se
                    </button>
                </ul>
            </div>
        </div>
    </nav>

    <!--
   <nav class="nav_bar">
        <ul>
            <a href="http://127.0.0.1:5000/index"><li>Início</li></a>
            <a href="http://127.0.0.1:5000/face_recognition"><li>Reconhecer</li></a>
            <a href="http://127.0.0.1:5000/face_capture"><li>Detectar</li></a>
            <a href="http://127.0.0.1:5000/face_trainner"><li>Treinar</li></a>
            <a href="http://127.0.0.1:5000/show_capture"><li>Capturar</li></a>
            <a href="http://127.0.0.1:5000/about"><li>Sobre</li></a>
            <a href="http://127.0.0.1:5000/help"><li>Ajuda</li></a>
        </ul>
    </nav>
    -->