    <nav class="nav_bar">
        <ul>
            <a href="http://127.0.0.1:5000/index"><li>Início</li></a>
            <a href="http://127.0.0.1:5000/face_recognition"><li>Reconhecer</li></a>
            <a href="http://127.0.0.1:5000/face_capture"><li>Detectar</li></a>
            <a href="http://127.0.0.1:5000/face_trainner"><li>Treinar</li></a>
            <a href="http://127.0.0.1:5000/show_capture"><li>Capturar</li></a>
            <a href="http://127.0.0.1:5000/about"><li>Sobre</li></a>
            <a href="http://127.0.0.1:5000/help"><li>Ajuda</li></a>
        </ul>
    </nav>