{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

    <!--Put the streaming in the page*/-->
    <div>
        <div>
            <div class="janela_capturar">
                <img class="imagem_capturada" src="{{ url_for('capturar_face') }}">
            </div>
        </div>
        <div style="float: left" >
            <p>As fotos só serão salvas caso haja uma face sendo detectada
            <div><button id="snap" onclick="capturarFoto()">Tirar Foto</button></div>
            <div><button id="save">Salvar Foto</button></div>
        </div>
        <script>
            function capturarFoto() {
                alert("Hello! I am an alert box!!");
            }
        </script>
    </div>



{% include 'base/footer.html' %}
