{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

<div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Descrição</th>
                <th>Algoritmo</th>
                <th>Data de Criação</th>
                <th>Excluir</th>
                <th>Editar</th>

            </tr>
            {% for u in data %}
                <tr>
                    <td>
                        {{ u.id}}
                    </td>
                    <td>
                        {{ u.nome}}
                    </td>
                    <td>
                        {{ u.email}}
                    </td>
                    <td>
                        {{ u.cpf}}
                    </td>
                    <td>
                        {{ u.dt_nascimento}}
                    </td>
                    <td>
                        <!--<a href="<?= base_url('index.php/User/update/' . $u->id) ?>" class="btn btn-primary btn-group">Atualizar</a>-->
                        <a href="{{ url_for('excluir_usuario', id=u.id)}}">Apagar?</a>
                    </td>
                    <td>
                        Editar?
                    </td>
                </tr>
            {% endfor %}

        </table>
</div>


{% include 'base/footer.html' %}