{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}

<div class="tabela">
    <a href="/listar-usuarios">
        <button class="btn btn-lg btn-success">
            Voltar
        </button>
    </a>
    <hr>

    <div>
          <form action="/cadastrar-usuarios" method="POST">
              <label>Nome</label>
                  {{ form.nome(class="form-control") }}
              <label>E-mail</label>
                  {{ form.email(class="form-control") }}
              <label>Senha</label>
                  {{ form.senha(class="form-control") }}
              <label>CPF</label>
                  {{ form.cpf(class="form-control") }}
              <label>Data de Nascimento</label>
                  {{ form.dt_nascimento(class="form-control") }}

              <input type="submit" value="Verificar">
          </form>
    </div>
</div>

{% include 'base/footer.html' %}