{% include 'base/head.html' %}
{% include 'base/nav_bar.html' %}


<div class="container-principal">
    <div class="cabecalho-listagem">
        <div class="col-md-4 cabecalho-titulo">
            Usuários
        </div>
        <div class="col-md-11 cabecalho-entrada">
            <input class="col-md-3 entrada-listagem" type="text">
            <a href="">
                <button class="entypo-search cabecalho-botao-pesquisar">
                </button>
            </a>
        </div>
        <div class="col-md-2 cabecalho-botao-cadastrar">
            <a href="/cadastrar-usuarios">
                <button class="btn btn-lg btn-success">
                    Cadastrar
                </button>
            </a>
        </div>
    </div>




    <div class="col-md-12 table-responsive">
        <table class="col-md-12 table">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Nome</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-2">CPF</th>
                <th class="col-md-3">Data Nascimento</th>
                <th>Atualizar</th>
                <th>Remover</th>
            </tr>
            {% for u in usuarios %}
            <tr>
                <td>
                    {{ u.id}}
                </td>
                <td>
                    {{ u.nome}}
                </td>
                <td>
                    {{ u.email}}
                </td>
                <td>
                    {{ u.cpf}}
                </td>
                <td>
                    {{ u.dt_nascimento}}
                </td>
                <td>
                    <!--<a href="<?= base_url('index.php/User/update/' . $u->id) ?>" class="btn btn-primary btn-group">Atualizar</a>-->
                    <a href="{{ url_for('atualizar_usuario', id=u.id)}}">
                    <button class="btn btn-primary">
                        Atualizar
                    </button>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('excluir_usuario', id=u.id)}}">
                        <button class="btn btn-danger">
                            Remover
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


<!--Falta pegar o id do usuário para editá-lo. Passar do jinja para o javascript
<script type="text/javascript">
    $(function () {
        $(".atualizar").click(function () {
            var aux = $(this).closest('button').attr('id');
            {% set aux = id %}
            alert(id)

        })
    });
</script>
-->

{% include 'base/footer.html' %}